In [1]:
import os
from src.helpers import get_project_dir
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
"""
TODO
"""

In [8]:
PROJECT_PATH = get_project_dir()
PATH_TO_DATA = os.path.join(PROJECT_PATH, 'data/preprocessed')
PATH_TO_DATA2 = os.path.join(PROJECT_PATH, 'data/marked')

In [5]:
df = pd.read_csv(os.path.join(PATH_TO_DATA, 'p_title.csv'))

In [6]:
df

,text,id,lemmatized
0,[],ID_0,[]
1,"['12', 'виолончелистов', 'дали', 'концерты', '...",ID_1,"[21, 48831, 60065, 86265, 114306, 104481]"
2,"['24', 'часа', 'ле', 'мана', 'итоги', 'гонки',...",ID_2,"[34, 178268, 92151, 97405, 77481, 57131, 52412]"
3,"['2morrow', 'завтра', 'москве', 'проходит', 'ф...",ID_3,"[2253, 70068, 104481, 136515, 171146, 110267, ..."
4,"['8', 'первых', 'свиданий', 'лучших', 'традици...",ID_4,"[17, 123780, 148406, 95346, 164336, 47497, 85265]"
...,...,...,...
4388759,"['стало', 'словом', '2015', 'года', 'оксфордск...",ID_4388759,"[156185, 152354, 1465, 54576, 117862, 152358]"
4388760,"['наезжай', 'наезжаю', 'детей', 'ссорятся', 'р...",ID_4388760,"[106991, 106991, 62451, 156137, 143290]"
4388761,"['яндекс', 'музыка', 'удалила', 'подкасты', 'с...",ID_4388761,"[187436, 105218, 167284, 127877, 152477, 16160..."
4388762,"['греться', 'каникулах', 'глинтвейн', 'надоел'...",ID_4388762,"[58546, 79279, 56282, 106907, 149585, 32000, 5..."
4388763,"['страшный', 'сон', 'буду', 'рассказывать', 'у...",ID_4388763,"[107151, 152925, 44096, 140450, 168083, 62451,..."

In [9]:
df2 = pd.read_csv(os.path.join(PATH_TO_DATA2, 'title_pred.csv'))

In [11]:
df2['label'] = df2['label'].astype('uint8')

In [12]:
del df2['text']

In [14]:
df2['lemmatized'] = df['lemmatized']

In [17]:
df3 = pd.read_csv(os.path.join(PATH_TO_DATA2, 'marked_title.csv'))

In [19]:
df2['is_manual'] = False

In [20]:
df2

,id,label,lemmatized,is_manual
0,ID_0,1,[],False
1,ID_1,1,"[21, 48831, 60065, 86265, 114306, 104481]",False
2,ID_2,1,"[34, 178268, 92151, 97405, 77481, 57131, 52412]",False
3,ID_3,1,"[2253, 70068, 104481, 136515, 171146, 110267, ...",False
4,ID_4,1,"[17, 123780, 148406, 95346, 164336, 47497, 85265]",False
...,...,...,...,...
4388759,ID_4388759,1,"[156185, 152354, 1465, 54576, 117862, 152358]",False
4388760,ID_4388760,1,"[106991, 106991, 62451, 156137, 143290]",False
4388761,ID_4388761,0,"[187436, 105218, 167284, 127877, 152477, 16160...",False
4388762,ID_4388762,1,"[58546, 79279, 56282, 106907, 149585, 32000, 5...",False
4388763,ID_4388763,1,"[107151, 152925, 44096, 140450, 168083, 62451,...",False

In [27]:
df2 = df2.set_index('id')

In [28]:
df2.loc[list(df3['id'].values), 'is_manual'] = True
df2.loc[list(df3['id'].values), 'label'] = df3['label']

In [32]:
df3['label']

0        1
1        1
2        1
3        1
4        0
        ..
29995    1
29996    1
29997    1
29998    1
29999    0
Name: label, Length: 30000, dtype: int64

In [41]:
df2.loc[list(df3['id'].values), 'label'] = list(df3['label'].astype('uint8'))

In [46]:
df2['label'] = df2['label'].astype('uint8')

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4388764 entries, ID_0 to ID_4388763
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   label       uint8
 1   lemmatized  object
 2   is_manual   bool
dtypes: bool(1), object(1), uint8(1)
memory usage: 204.3+ MB